<p id="notice"><%= notice %></p>

<h1>Audit records</h1>

<table>
  <thead>
    <tr>
      <th> user </th>
        <th> action </th>
        <th> object_id </th>
        <th> object_class </th>
        <th> object_name </th>
        <th> server_name </th>
        <th> table_name </th>
        <th> column_name </th>
        <th> description </th>
        <th> used_encrypt </th>
        <th> used_decrypt </th>
        <th> created_at </th>
        <th> created_by </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audit_trails.each do |audit| %>
      <tr>
        <td> audit.user.name </td>
        <td> audit.action </td>
        <td> audit.object_id </td>
        <td> audit.object_class </td>
        <td> audit.object_name </td>
        <td> audit.server_name </td>
        <td> audit.table_name </td>
        <td> audit.column_name </td>
        <td> audit.description </td>
        <td> audit.used_encrypt </td>
        <td> audit.used_decrypt </td>
        <td> audit.created_at </td>
        <td> audit.created_by </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
