<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 left_border">
        <span> <a href="http://opendataquality.com">  Powerd by Open Data Quality</span>
      </div>
    </div>
  </div>
  
</footer>
